<h1><%= @title %></h1>

<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="project">Enter project name</h1>
        <%= render 'shared/project_form' %>
      </td>
    </tr>
  </table>
<% else %>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
