<tr>
  <td class="projects">
    <span class="content"><%= link_to project.project_name, project_path(project.id) %></span>

  <% if current_user?(project.user) %>

    <%= link_to "delete", project,   :method => :delete,
                                     :confirm => "You sure?",
                                     :title => project.project_name %>

    <% end %>
 
  </td>
</tr>
