<tr>
  <td class="projects">
    <span class="content"><%= project.project_name %></span>
  </td>
</tr>

<% if current_user?(project.user) %>
  <td>
    <%= link_to "delete", project,   :method => :delete,
                                     :confirm => "You sure?",
                                     :title => project.project_name %>
  </td>
<% end %>
